.content-component{
    background-color:#b6d7a8;
    border-style: solid;
    border-width: medium;
    position: fixed;
    right: 20px;
    width: 74%;
    height: 50%;
    top: 230px;
    bottom: 230px;
}
.content-text{
    padding-left: 20px;
    padding-top:220px;
    text-align: left;
    vertical-align: middle;
}