.nav-component{
    background-color:#d5a6bd;
    border-style: solid;
    border-width: medium;
    position: fixed;
    left: 20px;
    width: 22%;
    height: 50%;
    top: 230px;
    bottom: 230px;
}

.nav-text{
    padding-top:220px;
    text-align: center;
    vertical-align: middle;
}