.header-component{
    background-color:#9fc5e8;
    border-style: solid;
    border-width: medium;
    width: auto;
    position: fixed;
    top: 10px;
    right: 20px;
    left: 20px;
    height: 20%;
    margin-bottom: 10px;
}

.header-text{
    padding-left: 20px;
    padding-top: 80px;
    text-align: left;
    vertical-align: middle;
}

